<div *ngIf="pieChartData" class="covid">
  <div>
    <div class="chart">
      <canvas
        baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend"
      >
      </canvas>
    </div>
  </div>
  <div class="container text-center buttons">
    <button class="btn btn-primary" (click)="setChartToInfected()">
      Infectados
    </button>
    <button class="btn btn-primary" (click)="setChartToDeceased()">
      Mortos
    </button>
  </div>
</div>
